<div class="flex flex-col justify-start items-center">
  <div class="film-yourself-block flex flex-col justify-center items-center mt-65 pt-40 pb-40">
    <h4 class="mt-65 video-h4"><%= t('videos.confirmation.skip_step') %></h4>
    <%= image_tag 'icons/plus.png', class: 'image-from-image-text-block' %>

  <div class="mt-8">

    <div class="frame">

      <div class="p-text-18"><%= t('videos.confirmation.invite_friends') %></div>

      <%= form_with url: confirmation_post_path, method: :post, html: { data: {turbo: false}} do |f| %>
        <div class="share-wrapper">
          <%= f.email_field :email, placeholder: "Email", class:"share-email" %>
          <%= f.submit t('invite'), class:"share-submit" %>
        </div>
      <% end %>

      <p class="p-text-16"><%= t('videos.confirmation.share_link') %></p>

      <div class="share-clipboard" data-controller="clipboard">
        <div class="share-clipboard-wrapper">
          <%= image_tag "icons/tabler_link.png" %>
          <span><%= join_url(@video.token) %></span>
        </div>
        <span data-action="click->clipboard#copy" data-clipboard-value-param="<%= join_url(@video.token) %>" class="share-clipboard-btn"><%= t('copy') %></span>
      </div>

    </div>


    <div class="video-steps">
      <%= render "videos/shared/back_button" %>
      <%= link_to t('next_step'), skip_confirmation_path, class: "black-link" %>
    </div>

  </div>
  </div>

</div>