<div class="date_fin">
  <section class="hero">
    <h1 class="h1-video gradient-text">Dites nous quel jour vous voulez visionner la vidéo</h1>
  </section>
  <div class="flex flex-row justify-center w-full">
    <%= image_tag 'left-no-star.png', class: 'image-sides left-image' %>
    <div class="content w-full flex flex-col justify-center items-center">
      <div class="text-with-image-block-occasion flex justify-center items-center mb-[72px] w-full p-text-16">
        The purpose and deadlines dictum eu morbi ac elit enim at neque urna. Eleifend condimentum ipsum a lectus tortor est arcu. Feugiat lectus auctor cursus netus eu sit in pharetra. Convallis eget odio molestie urna phasellus etiam ac euismod justo. Ipsum tristique purus risus at ultrices non. Eget lectus diam eget feugiat nulla imperdiet ornare libero.
        <%= image_tag 'icons/eight.png', class: 'image-from-image-text-block' %>
      </div>



      <div class="flex justify-center">

        <%= form_with url: date_fin_post_path, method: :post, html: { data: { turbo: false } }  do |f| %>

          <div class="flex-block-container flex flex-col justify-start mb-[48px] relative inline-block w-full">

              <h3 class="text-black text-center font-montserrat text-[32px] font-bold leading-[37px] mb-[24px]">Dites nous quel jour vous voulez visionner la vidéo</h3>
              <p class="p-text-center-16 text-center font-red-hat-display text-[16px] font-normal leading-[25px]">La vidéo se terminera automatiquement 5 jours avant.</p>
              <%# <%= f.date_field :end_date, value: @video.end_date %>
              <div class="flex justify-center">
                <div class="custom-calendar-container mt-65" data-controller="custom-calendar" data-custom-calendar-end-date="<%= @video.end_date %>">
                  <%= hidden_field_tag 'end_date', @video.end_date, id: 'customDateField', data: { custom_calendar_target: "hiddenField" } %>
                  <div id="customCalendar" class="custom-calendar" data-custom-calendar-target="calendarContainer">
                    <!-- The custom calendar will be rendered here by the controller -->
                  </div>
                </div>
              </div>
          </div>

          <div class="flex justify-between">
            <%= render "videos/shared/back_button" %>
            <%= f.submit "Étape suivante", class: "black-link" %>
          </div>

        <% end %>

      </div>
    </div>
    <%= image_tag 'right-with-star.png', class: 'image-sides right-image' %>
  </div>
</div>

