<%= form_with url: dedicace_de_fin_post_path(@video_dedicace), method: :patch, multipart: true, local: true do |f| %>
  <div>
    <h1 class="video-h1"><%= t('videos.dedicace_de_fin.title') %></h1>
    <div class="flex flex-row justify-center w-full">
      <%= image_tag 'left-no-star.png', class: 'image-sides left-image' %>
      <div class="content w-full flex flex-col justify-center items-center">
        <div class="text-with-image-block flex justify-center items-center mb-[72px] w-full p-text-16">
          <%= t('videos.dedicace_de_fin.film_yourself') %>
          <%= image_tag 'icons/three-stars.png', class: 'image-from-image-text-block' %>
        </div>
        <div class="flex flex-col justify-start items-center" data-controller="recording">
          <div class="dedicace-de-fin-frame mt-6 flex flex-col  justify-start items-start">
            <div class="flex justify-start items-center">
              <div class="mr-2 p-text-16"><%= t('videos.dedicace_de_fin.your_media') %></div>
              <div class="flex justify-start items-center p-text-16">
                <%= image_tag 'icons/mingcute_time-line.png', alt: 'Time Icon', class: 'inline-block ml-15 mr-2', style: 'height: 24px; width: 24px;' %>
                <% if @video_dedicace.present? && @video_dedicace.creator_end_dedication_video.attached? %>
                  <%= @video_dedicace.video_duration %>
                <% else %>
                  Duration: N/A
                <% end %>
              </div>
            </div>

            <div class="flex justify-start items-center mt-8">
              <div class="mr-2 font-bold p-text-bold-16"><%= t('videos.dedicace_de_fin.theme') %></div>
              <div class="flex justify-start items-center p-text-16">
                <%= @dedicace.name %>
              </div>
            </div>
            <div class="w-full flex justify-center items-center mt-8">
              <div class="video-recording-block flex justify-center items-center">
                <% if @video_dedicace.present? && @video_dedicace.creator_end_dedication_video.attached? %>
                  <%= video_tag @video_dedicace.creator_end_dedication_video, controls: true, autobuffer: true, style: "width: 100%; height:100%; border-radius:15px;", id: "videoUploaded", data: { recording_target: "videoUploaded" } %>
                <% end %>
                <span id="videoPreviewText" class="p-text-16" data-recording-target="videoPreviewText" style="<%= @video_dedicace.present? && @video_dedicace.creator_end_dedication_video.attached? ? 'display: none;' : '' %>"><%= t('videos.dedicace_de_fin.camera_view') %></span>
                <%= image_tag 'f7_person-alt.png', id: "videoPreviewImg", class: "video-recording-block-img #{(@video_dedicace.present? && @video_dedicace.creator_end_dedication_video.attached?) ? 'd-none' : ''}", data: { recording_target: "videoPreviewImg" } %>
                <video id="videoPreview" controls style="display: none; width: 100%; height:100%; border-radius:15px;" data-recording-target="videoPreview"></video>
              </div>
            </div>
            <div class="flex justify-center items-center mt-4 w-full">
              <button type="button" id="startRecording" class="record-transparent w-370i" data-action="recording#startRecording" data-recording-target="startButton">
                <%= image_tag "icons/fluent_record-24-regular.png", alt: "Start Recording", class: "inline-block", style: "height: 16px; width: 16px;" %>
                <%= t('videos.dedicace_de_fin.start_recording') %>
              </button>

              <button type="button" id="stopRecording" class="record-transparent w-370i" style="display: none;" data-action="recording#stopRecording" data-recording-target="stopButton">
                <%= image_tag "icons/fluent_record-24-regular.png", alt: "Stop Recording", class: "inline-block", style: "height: 16px; width: 16px;" %>
                <%= t('videos.dedicace_de_fin.stop_recording') %>
              </button>
            </div>
            <input type="file" id="recordedVideoFile" name="dedicace[creator_end_dedication_video]" style="display: none;" data-recording-target="recordedVideoFile" />
            <div class="upload-video-block flex flex-col justify-center items-center">
              <span class="p-text-center-16"><%= t('videos.dedicace_de_fin.drag_media') %></span>
              <div class="upload-circle mt-2" id="customUploadButton" data-action="click->recording#customUpload" data-recording-target="customUploadButton">
                <span class="plus-sign">+</span>
              </div>
              <%= f.file_field "dedicace[creator_end_dedication_video_uploaded]", accept: 'video/*', class: 'form-control', style: 'display: none;', id: 'fileUploadInput', data: { recording_target: "fileUploadInput" } %>
            </div>
          </div>
        </div>
        <div class="video-steps w-full">
          <%= render "videos/shared/back_button" %>
          <div>
            <%= link_to t('videos.dedicace_de_fin.continue_later'), skip_dedicace_de_fin_path, class: "p-text-16-bold text-decoration-underline mr-4" %>
            <%= f.submit t('next_step'), class: "black-link" %>
          </div>
        </div>
      </div>
      <%= image_tag 'right-with-star.png', class: 'image-sides right-image' %>
    </div>
  </div>
<% end %>