<div class="info_destinataire">
  <section class="hero">
    <h1 class="h1-video gradient-text"><%= t('videos.destinataire_details.title') %></h1>
  </section>

  <div class="flex flex-row justify-center w-full">
    <%= image_tag 'left-no-star.png', class: 'image-sides left-image' %>
    <div class="content w-full flex flex-col justify-center items-center">
      <div class="text-with-image-block flex justify-center items-center mt-65 mb-[72px] w-full p-text-16">
        <%= t('videos.destinataire_details.subtitle') %>
        <%if @video_destinataires.count > 0%>
          <%= image_tag 'icons/emojis.png', class: 'image-from-image-text-block' %>
        <%else%>
          <%= image_tag 'icons/emoj.png', class: 'image-from-image-text-block' %>
        <%end%>
      </div>

      <div class="flex flex-col justify-center">
      <%@video_destinataires.each_with_index do |video_destinataire, index|%>
        <div class="bigger-destinataire flex flex-col justify-start mb-[48px] relative inline-block w-full">
          <div data-controller="dialog" data-action="click->dialog#clickOutside">
            <%= image_tag "icons/akar-icons_edit.svg", alt: "Edit Icon", class: "edit-destinataire-video-icon", data: { action: "click->dialog#open" } %>
            <dialog data-dialog-target="modal" class="backdrop:bg-slate-400 backdrop:opacity-80 w-full w-1006 popup-destinataire-modal">
              <%= form_with url: update_destinataire_path(video_destinataire.id), method: :patch, html: { data: { turbo: false } } do |f| %>

                <div class="bigger-destinataire flex flex-col justify-center mb-[48px] relative inline-block w-full">
                  <div class="form step-1 row-1 flex gap-[23px] mb-[26px]">
                    <%= f.label :age_destinataire, "1", class: "text-white font-red-hat-display text-[16px] font-normal leading-[25px] flex w-[53px] h-[53px] p-[10px] flex-col justify-center items-center gap-[10px] rounded-[50px] bg-black" %>
                    <%= f.number_field :age_destinataire, placeholder: t('videos.destinataire_details.form_placeholders.age'), value: video_destinataire&.age, class: "flex w-[677px] h-[60px] px-[27px] py-[15px] items-start gap-[10px] rounded-[8px] border border-[rgba(32,31,31,0.50)] bg-white text-black font-red-hat-display text-[16px] font-normal leading-[25px]" %>
                  </div>

                  <div class="form step-1 row-2 flex gap-[23px] mb-[26px]">
                    <%= f.label :name_destinataire, "2", class: "text-white font-red-hat-display text-[16px] font-normal leading-[25px] flex w-[53px] h-[53px] p-[10px] flex-col justify-center items-center gap-[10px] rounded-[50px] bg-black" %>
                    <%= f.text_field :name_destinataire, placeholder: t('videos.destinataire_details.form_placeholders.name'), value: video_destinataire&.name, class: "flex w-[677px] h-[60px] px-[27px] py-[15px] items-start gap-[10px] rounded-[8px] border border-[rgba(32,31,31,0.50)] bg-white text-black font-red-hat-display text-[16px] font-normal leading-[25px]" %>
                  </div>

                  <div class="form step-1 row-3 flex gap-[23px] mb-[26px]">
                    <%= f.label :more_info_destinataire, "3", class: "text-white font-red-hat-display text-[16px] font-normal leading-[25px] flex w-[53px] h-[53px] p-[10px] flex-col justify-center items-center gap-[10px] rounded-[50px] bg-black" %>
                    <%= f.text_area :more_info_destinataire, placeholder: t('videos.destinataire_details.form_placeholders.more_info'), value: video_destinataire&.more_info,rows: 2,  class: "flex w-[677px] px-[27px] py-[15px] items-start gap-[10px] rounded-[8px] border border-[rgba(32,31,31,0.50)] bg-white text-black font-red-hat-display text-[16px] font-normal leading-[25px]" %>
                  </div>

                  <div class="form step-1 row-1 flex gap-[23px] mb-[26px]">
                    <%= f.label :passions_and_hobbies, "4", class: "text-white font-red-hat-display text-[16px] font-normal leading-[25px] flex w-[53px] h-[53px] p-[10px] flex-col justify-center items-center gap-[10px] rounded-[50px] bg-black" %>
                    <%= f.text_area :passions_and_hobbies, placeholder: t('videos.destinataire_details.form_placeholders.passions'), value: video_destinataire&.passions_and_hobbies,rows: 2,  class: "flex w-[677px] px-[27px] py-[15px] items-start gap-[10px] rounded-[8px] border border-[rgba(32,31,31,0.50)] bg-white text-black font-red-hat-display text-[16px] font-normal leading-[25px]" %>
                  </div>

                  <div class="form step-1 row-2 flex gap-[23px] mb-[26px]">
                    <%= f.label :personality_description, "5", class: "text-white font-red-hat-display text-[16px] font-normal leading-[25px] flex w-[53px] h-[53px] p-[10px] flex-col justify-center items-center gap-[10px] rounded-[50px] bg-black" %>
                    <%= f.text_area :personality_description, placeholder: t('videos.destinataire_details.form_placeholders.personality'), value: video_destinataire&.personality_description,rows: 2,  class: "flex w-[677px] px-[27px] py-[15px] items-start gap-[10px] rounded-[8px] border border-[rgba(32,31,31,0.50)] bg-white text-black font-red-hat-display text-[16px] font-normal leading-[25px]" %>
                  </div>

                  <div class="form step-1 row-3 flex gap-[23px] mb-[26px]">
                    <%= f.label :favorite_quotes, "6", class: "text-white font-red-hat-display text-[16px] font-normal leading-[25px] flex w-[53px] h-[53px] p-[10px] flex-col justify-center items-center gap-[10px] rounded-[50px] bg-black" %>
                    <%= f.text_area :favorite_quotes, placeholder: t('videos.destinataire_details.form_placeholders.quotes'), value: video_destinataire&.favorite_quotes,rows: 2,  class: "flex w-[677px] px-[27px] py-[15px] items-start gap-[10px] rounded-[8px] border border-[rgba(32,31,31,0.50)] bg-white text-black font-red-hat-display text-[16px] font-normal leading-[25px]" %>
                  </div>
                  <div class="w-full flex justify-center">
                    <%= f.submit t('videos.destinataire_details.save'), class: "black-link mt-6 w-60" %>
                  </div>
                </div>
              <% end %>
            </dialog>
          </div>


          <div class="flex flex-row justify-start items-start p-text-16">
            <div class="p-text-16-bold mr-4"><%=index+1%></div>

            <div class="flex flex-col w-full">
              <div class="flex flex-row justify-start w-full mb-15">
                <div class="p-text-16-bold mr-4 w-300"><%= t('videos.destinataire_details.recipient_name') %></div>
                <div class="p-text-16 w-434"><%=video_destinataire.name%></div>
              </div>

              <div class="flex flex-row justify-start w-full mb-15">
                <div class="p-text-16-bold mr-4 w-300"><%= t('videos.destinataire_details.occasion') %></div>
                <div class="p-text-16 w-434"><%=@video.occasion.humanize%></div>
              </div>

              <div class="flex flex-row justify-start w-full mb-15">
                <div class="p-text-16-bold mr-4 w-300"><%= t('videos.destinataire_details.recipient_age') %></div>
                <div class="p-text-16 w-434"><%=video_destinataire.age%></div>
              </div>

              <div class="flex flex-row justify-start w-full mb-15">
                <div class="p-text-16-bold mr-4 w-300"><%= t('videos.destinataire_details.children_info') %></div>
                <div class="p-text-16 w-434"><%=video_destinataire.more_info%></div>
              </div>


              <div class="flex flex-row justify-start w-full mb-15">
                <div class="p-text-16-bold mr-4 w-300"><%= t('videos.destinataire_details.recipient_hobbies') %></div>
                <div class="p-text-16 w-434"><%=video_destinataire.passions_and_hobbies%></div>
              </div>

              <div class="flex flex-row justify-start w-full mb-15">
                <div class="p-text-16-bold mr-4 w-300"><%= t('videos.destinataire_details.recipient_description') %></div>
                <div class="p-text-16 w-434"><%=video_destinataire.personality_description%></div>
              </div>

              <div class="flex flex-row justify-start w-full mb-15">
                <div class="p-text-16-bold mr-4 w-300"><%= t('videos.destinataire_details.recipient_quotes') %></div>
                <div class="p-text-16 w-434"><%=video_destinataire.favorite_quotes%></div>
              </div>
            </div>
          </div>
            <div class="flex justify-center">
              <%= button_to t('videos.destinataire_details.delete_recipient'),
                delete_destinataire_path(video_destinataire.id),
                method: :delete,
                class: 'mt-6 p-text-16-bold text-decoration-underline',
                form: { data: { turbo_confirm: t('videos.destinataire_details.delete_confirmation') } } %>
            </div>
        </div>

      <%end%>

      <%= form_with url: destinataire_details_post_path, method: :post, html: { data: { auto_submit: true, turbo: false } } do |f| %>
        <div>
          <div class="w-[1006px] h-[386px] flex-shrink-0 rounded-[20px] border border-[rgba(201,225,255,0.20)] bg-white shadow-[4px_4px_20px_5px_rgba(13,103,131,0.10)] py-[49.5px] px-[116px] mb-[56px]">
            <h3 class="text-black text-center font-montserrat text-[32px] font-bold leading-[37px] mb-[24px]">
              <%= t('videos.destinataire_details.special_requests_title') %>
            </h3>
            <p class="w-100 mb-[32px] p-text-center-16">
              <%= t('videos.destinataire_details.processing_notice') %>
            </p>
            <%= f.text_area :special_request_destinataire,
                            id: "special_request_destinataire",
                            placeholder: t('videos.destinataire_details.special_request_placeholder'),
                            rows: 3,
                            value: @video.theme_specific_request,
                            class: "flex w-100i px-[27px] py-[15px] items-start gap-[10px] rounded-[8px] border border-[rgba(32,31,31,0.50)] bg-white text-black font-red-hat-display text-[16px] font-normal leading-[25px]" %>
            <div class="flex justify-center items-center gap-[16px] w-100 mt-4">
              <%= image_tag "icons/attention.svg" %>
              <p class="w-100 p-text-center-16">
                <%= t('videos.destinataire_details.additional_fee_notice') %>
              </p>
            </div>
          </div>

          <div class="flex justify-between">
            <%= render "videos/shared/back_button" %>
            <%= f.submit t('next_step'), class: "black-link", data: { action: "dialog#open" } %>
            <dialog id="confirmationDialog" class="backdrop:bg-slate-400 backdrop:opacity-80 w-full w-1006 popup-theme-modal bg-transparent">
              <div class="text-with-image-block w-100i flex justify-center items-center mt-65 mb-[72px] px-[27px] w-full p-text-center-16">
                <%= t('videos.destinataire_details.dialog_confirmation') %>
                <%= image_tag 'icons/plus.png', class: 'image-from-image-text-block' %>
              </div>
            </dialog>
          </div>
        </div>
      <% end %>

      </div>
    </div>
    <%= image_tag 'right-with-star.png', class: 'image-sides right-image' %>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.querySelector("form[data-auto-submit]");
    const dialog = document.querySelector("#confirmationDialog");
    const textArea = document.getElementById("special_request_destinataire");
    const timeoutDuration = 5000; // Timeout in milliseconds
    let autoSubmitTimeout;

    if (form && dialog && textArea) {
      form.addEventListener("submit", (event) => {
        const textAreaValue = textArea.value.trim(); // Get and trim the textarea value
        const themeSpecificRequest = "<%= @video.theme_specific_request.to_s.strip %>"; // Get @video.theme_specific_request value

        // Check conditions
        if (!textAreaValue || (textAreaValue && themeSpecificRequest)) {
          // Submit directly if textarea is empty or both values exist
          return;
        }

        // Otherwise, prevent default submission and show dialog
        event.preventDefault();
        dialog.showModal();

        // Auto-submit after timeout
        autoSubmitTimeout = setTimeout(() => {
          form.submit();
        }, timeoutDuration);
      });

      dialog.addEventListener("click", (event) => {
        if (event.target === dialog) {
          clearTimeout(autoSubmitTimeout);
          form.submit();
        }
      });

      const closeButton = dialog.querySelector("[data-close-dialog]");
      if (closeButton) {
        closeButton.addEventListener("click", () => {
          dialog.close();
          clearTimeout(autoSubmitTimeout);
        });
      }
    }
  });
</script>