<div id="video_intro" data-controller="switchvideo">
  <section class="hero">
    <h1 class="video-h1">L'introduction de votre vidéo</h1>
    <p class="video-desc">
      Choisissez l'introduction de votre vidéo parmi les modèles proposés ou décrivez le thème et le style de vidéo que vous voulez pour que nous personnalisions l'introduction de votre vidéo.
      </p>
  </section>



  <section>

    <div class="form">

      <%= form_with url: introduction_post_path, method: :post, html: {data: { turbo: false }} do |f| %>
      <div class="form frame">
        <h3 class="video-h3">Choisissez le style de l'introduction de votre vidéo</h3>
        <%= f.select :theme, options_for_select(Video.themes.map {|k, v| [k.humanize.capitalize, k]}), {}, {'data-action': 'change->switchvideo#video_switcher', 'data-switchvideo-target': 'select' } %>
        <p>Ou envoyez-nous une demande pour commander une vidéo avec votre thème spécial</p>
        <%= f.label :special_request %>
        <%= f.text_area :special_request, placeholder: "Décrivez votre théme", value: @video.theme_specific_request, class: "video-textarea" %>
        <div class="flex items-center gap-[16px] mb-[16px]">
          <%= image_tag "icons/attention.svg" %>
          <p>Veuillez noter qu'un frais supplémentaire sera appliqué pour une vidéo avec le thème que vous avez choisi</p>
        </div>
        <div class="flex items-center gap-[16px]">
          <%= image_tag "icons/attention.svg" %>
          <p>Bientôt disponible : de nouvelles occasions pour votre film</p>
        </div>
      </div>

      <div class="frame">
        <h3 class="video-h3">Regardez l'aperçu</h3>
        <p>Le début de la vidéo dépendra du genre (masculin, féminin ou neutre) que vous avez indiqué précédemment.</p>

        <% Video.themes.each do |el| %>
          <%= video_tag "previews/#{el[0]}.mp4", class: "hidden", 'data-switchvideo-target': 'video', 'data-switchvideo-info':el[0], controls: true %>
        <% end %>
      </div>
      <div class="video-steps">
        <%= render "videos/shared/back_button" %>
        <%= f.submit "Étape suivante", class:"cta" %>
      </div>
      <% end %>




    </div>

  </section>
</div>
