<div class="introduction" id="video_intro" data-controller="switchvideo">
  <section class="hero">
    <h1 class="h1-video gradient-text">L'introduction de votre vidéo</h1>
  </section>
  <div class="flex flex-row justify-center w-full">
    <%= image_tag 'left-no-star.png', class: 'image-sides left-image' %>
    <div class="content w-full flex flex-col justify-center items-center">
      <div class="text-with-image-block-adjusted flex justify-center items-center mb-[72px] w-full p-text-16">
        Choisissez l'introduction de votre vidéo parmi les modèles proposés ou décrivez le thème et le style de vidéo que vous voulez pour que nous personnalisions l'introduction de votre vidéo.
        <%= image_tag 'icons/photo-camera.png', class: 'image-from-image-text-block w-120i' %>
      </div>

      <%= form_with url: introduction_post_path, method: :post, html: { data: { turbo: false } } do |f| %>
        <div class="flex flex-col justify-center">
          <div class="flex-block-container flex flex-col justify-start mb-[48px] relative inline-block w-full">
            <h3 class="video-h3 mb-45">Choisissez le style de l'introduction de votre vidéo</h3>

            <div class="theme-selector flex flex-col mb-45" data-switchvideo-target="radioGroup">
              <% Video.themes.each do |k, v| %>
                <label
                  class="theme-option relative <%= 'selected' if @video.theme == k %>"
                  data-theme="<%= v %>"
                  data-switchvideo-target="theme"
                  data-action="click->switchvideo#updateVideo"
                >
                  <input
                    type="radio"
                    name="theme"
                    value="<%= v %>"
                    <%= 'checked' if @video.theme == k %>
                    data-switchvideo-target="radio"
                  />
                  <%= image_tag "previews/#{k}-thumbnail.png", alt: "Preview for #{k}" %>
                  <span class="absolute video-preview-text"><%= k.humanize.capitalize %></span>
                </label>
              <% end %>
            </div>
            <div class="flex flex-col justify-center items-center mb-4">
              <p class="p-text-center-bold-16">Ou envoyez-nous une demande pour commander une vidéo avec votre thème spécial</p>
              <%= f.text_area :special_request, placeholder: "Décrivez votre théme", value: @video.theme_specific_request, class: "w-100i mt-6 flex w-[677px] px-[27px] py-[15px] items-start gap-[10px] rounded-[8px] border border-[rgba(32,31,31,0.50)] bg-white text-black font-red-hat-display text-[16px] font-normal leading-[25px]" %>
            </div>
            <div class="flex items-center gap-[16px] mb-[16px]">
              <%= image_tag "icons/attention.svg" %>
              <p class="gradient-text">Veuillez noter qu'un frais supplémentaire sera appliqué pour une vidéo avec le thème que vous avez choisi</p>
            </div>
            <div class="flex items-center gap-[16px]">
              <%= image_tag "icons/attention.svg" %>
              <p class="gradient-text">Bientôt disponible : de nouvelles occasions pour votre film</p>
            </div>
          </div>

          <div class="frame">
            <h3 class="video-h3">Regardez l'aperçu</h3>
            <p class="p-text-center-16">L'introduction de votre vidéo dépendra de l'option que vous avez sélectionné</p>
            <% Video.themes.each do |el| %>
              <%= video_tag "previews/#{el[0]}.mp4", class: "#{@video.theme == el[0] ? '' : 'hidden'} br-20", 'data-switchvideo-target': 'video', 'data-switchvideo-info': el[1], controls: true %>
            <% end %>
          </div>
        </div>
        <div class="video-steps">
          <%= render "videos/shared/back_button" %>
          <%= f.submit "Étape suivante", class: "black-link" %>
        </div>
      <% end %>
    </div>
    <%= image_tag 'right-with-star.png', class: 'image-sides right-image' %>
  </div>
</div>

<style>
.video-preview-text{
  bottom: 2px;
  left: 9px;
  font-family: Red Hat Display;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
}
.theme-selector {
  display: flex;
  gap: 15px;
}

.theme-option img {
  width: 100%; /* Adjust size as needed */
  height: 79px;
  border-radius: 10px;
  object-fit: cover;
}
.theme-option {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.theme-option.selected {
  border: 2.5px solid #007bff;
  background-color: #f0f8ff;
  border-radius: 13px;
}

.theme-option input[type="radio"] {
  display: none;
}

</style>