<div>
  <h1 class="video-h1">
    Optionnel: Choisissez les musiques pour chacun des chapitres de votre film
  </h1>
  <p class="video-desc">Cette étape est facultative. Mais si vous le souhaitez, choisissez la musique pour chacun des chapitres que vous avez créés en sélectionnant la musique dans la liste proposée ou en téléchargeant la musique de votre choix (lien youtube, mp3). Si vous préférez passer cette étape, ne vous en faites pas nous sélectionnerons la musique pour vous.</p>

  <div class="">

    <%= form_with url: music_post_path, method: :post do |f| %>
      <div class="frame">
        <div class="video-musics">
          <% @musics.each do |music| %>
            <div class="video-music">
              <div class="music-name"><%= music.name %></div>
              <div class="music-audio">
                <%= f.check_box "music_ids[]", { checked: @video.musics.include?(music) }, music.id, nil %>

                <% if music.music.attached? %>
                  <%= audio_tag music.music, controls: true %>
                <% else %>
                  <p>Pas d'audio</p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="video-steps">
        <%= render "videos/shared/back_button" %>
        <%= f.submit "Étape suivante", class:"cta" %>
      </div>
    <% end %>
  </div>
</div>
