<div>
  <h1 class="font-bold text-4xl">Choisissez l'occasion</h1>

  <div>
    <%= image_tag "icons/image.svg" %>
    <p>Ipsum dolor sit amet consectetur. Dictum eu morbi ac elit enim at neque urna. Eleifend condimentum ipsum a lectus tortor est arcu. Feugiat lectus auctor cursus netus eu sit in pharetra. Convallis eget odio molestie urna phasellus etiam ac euismod justo. Ipsum tristique purus risus at ultrices non. Eget lectus diam eget feugiat nulla imperdiet ornare libero.</p>
  </div>

  <div class="">

    <%= form_with url: occasion_post_path, method: :post do |f| %>
      <%= f.select :occasion, options_for_select(Video.occasions.map {|k, v| [k.humanize.capitalize, k]}) %>
    
    <div class="">
        <%= image_tag "icons/alert.svg" %>
        <p>Bientôt disponible : de nouvelles occasions pour votre film</p>
    </div>
    
    <%= f.submit "Étape suivante" %>
    <% end %>
  </div>
</div>
