<h1 class="video-h1">Votre projet</h1>

<div class='big-spaces-on-sides'>
  <div class="payment-container">
    <div>
      <div class="payment-block payment-block-1 flex flex-row justify-start">
        <% if @video.completed? %>
          <div class="edit-video-container mt-8">
            <%= video_tag url_for(@video.final_video_with_watermark), controls: true, autobuffer: true %>
          </div>
        <% else %>
          <div class="vector-block flex justify-center items-center mt-8">
            <%= image_tag 'Vector.png', class: "" %>
          </div>
        <% end %>
        <div class="flex flex-col justify-start items-center ml-50">
          <div class="font-bold">PRODUIT</div>
          <div class="mt-6"><%= "Film, #{format_time(@video.final_video_duration)} min." %></div>
        </div>
        <div class="flex flex-col justify-start items-center ml-50">
          <div class="font-bold">PRIX</div>
          <div class="flex justify-start items-center mt-6">
            €<%= @amount %>
          </div>
        </div>
        <div class="flex flex-col justify-start items-center ml-50">
          <div class="font-bold">QUANTITÉ</div>
          <div class="mt-6 div-input">1</div>
        </div>

        <div class="flex flex-col justify-start items-center ml-50">
          <div class="font-bold">SOUS-TOTAL</div>
          <div class="mt-6">€<%= @amount %></div>
        </div>
      </div>

      <div class="payment-block payment-block-bottom flex flex-row justify-between items-center mt-6">
        <div class="p-text-18">Ajouter à la commande un album avec tous les éléments du film (thème, chapitres, contenu)</div>
        <div class="div-rect"></div>
      </div>
    </div>
    <div class="payment-block payment-block-2">
      <div>
        <form action="<%= payment_post_path %>" method="post" id="payment-form" data-payment-target="form" data-controller="payment" data-payment-stripe-publishable-key-value="<%= @stripe_publishable_key %>" data-action="submit->payment#submit">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="hidden" name="stripeToken" id="stripeToken" data-payment-target="stripeToken">
          <div class="flex flex-col justify-between">
            <div class="mb-[48px]">
              <div class="total-price mb-4">TOTAL DU PANIER</div>

              <div class="flex justify-between items-center mb-4">
                <span class="p-text-18">SOUS-TOTAL</span>
                <span>€<%= @amount %></span>
              </div>

              <div class="mb-[16px]">Carte de crédit ou de débit</div>
              <div id="card-element" data-payment-target="cardElement"></div>

              <div class="flex flex-col justify-start items-start mb-4 mt-8">
                <span class="font-bold">Livraison</span>
                <div class="flex flex-col mt-2">
                  <% 5.times do %>
                    <div class="flex flex-row justify-start items-center mt-2">
                      <%= image_tag "icons/radio.png", alt: "Livraison Icon", style: "vertical-align: middle; margin-left: 5px; margin-right: 5px; width: 16px; height: 16px;" %>
                      <div class="p-text-16">Lorem ipsum dolor sit amet (10$)</div>
                    </div>
                  <% end %>
                </div>
              </div>

              <div class="flex justify-between items-center mt-8">
                <span class="font-bold">Total du sac</span>
                <span>€<%= @amount %></span>
              </div>
            </div>
            <div data-controller="dialog" data-action="click->dialog#clickOutside" class="payment-modal">
              <div data-action="click->dialog#open" class="black-link w-full">Payer</div>
              <dialog data-dialog-target="modal" class="backdrop:bg-slate-400 backdrop:opacity-80 w-full w-1006 popup-payment-modal bg-transparent">
                <div class="text-with-image-block-payment w-100i flex flex-col justify-center items-center mt-65 mb-[72px] px-[27px] w-full p-text-center-16">
                  <p class="w-80 mb-45 p-text-center-16">Merci ! Nous traitons déjà votre demande de thème vidéo personnalisé. Cela peut prendre jusqu'à 2 jours. Nous vous enverrons une confirmation par e-mail.</p>
                  <div class="flex justify-center items-center">
                    <%= button_tag type: 'button', formmethod: 'dialog', class: 'transparent-link mr-8', data: { action: 'click->dialog#close' } do %>
                      Créer un nouveau film
                    <% end %>
                    <button type="submit" class="black-link">Mon compte</button>
                  </div>
                  <%= image_tag 'icons/plus.png', class: 'image-from-image-text-block' %>
                </div>
              </dialog>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
