<footer>
  <section id="footer" class="py-12">
    <div class="w-[1280px] mx-auto flex justify-between items-start">
      <%= link_to root_path do %>
        <%= image_tag 'gemotion-logo-footer.svg', alt: 'Gemotion Logo' %>
      <% end %>
      <div id="footer_contacts">
        <p class="text-title-color text-xl font-montserrat font-bold leading-6 break-words mb-[20px] gradient-text"><%= t('footer.contacts') %></p>
        <nav>
          <ul class="flex flex-col gap-[14px]">
            <li class="flex items-center gap-[6px]">
              <%= link_to "mailto:email@gmail.com", aria: { label: t('footer.email_aria_label') } do %>
                <%= image_tag "icons/email.svg", alt: t('footer.email_icon_alt') %>
              <% end %>
              <%= link_to "email@gmail.com", "mailto:email@gmail.com", class: "p-text-16", aria: { label: t('footer.email_aria_label') } %>
            </li>
            <li class="flex items-center gap-[6px]">
              <%= link_to "tel:0000000", aria: { label: t('footer.phone_aria_label') } do %>
                <%= image_tag "icons/phone.svg", alt: t('footer.phone_icon_alt') %>
              <% end %>
              <%= link_to "000-000-000", "tel:0000000", class: "p-text-16", aria: { label: t('footer.phone_aria_label') } %>
            </li>
          </ul>
        </nav>
      </div>
      <div id="footer_inscription">
        <p class="text-title-color text-xl font-montserrat font-bold leading-6 break-words mb-[12px] gradient-text"><%= t('footer.registration') %></p>
        <nav>
          <ul class="flex flex-col gap-[5px]">
            <li><%= link_to t('footer.create_account'), root_path, class: "p-text-16" %></li>
            <li><%= link_to t('footer.sign_in'), root_path, class: "p-text-16" %></li>
            <li><%= link_to t('footer.contact_us'), new_contact_path, class: "p-text-16" %></li>
          </ul>
        </nav>
      </div>
      <div id="footer_video">
        <p class="text-title-color text-xl font-montserrat font-bold leading-6 break-words mb-[12px] gradient-text"><%= t('footer.create_video') %></p>
        <nav>
          <ul class="flex flex-col gap-[5px]">
            <li><%= link_to t('footer.get_started'), start_path(continue: true), class: "p-text-16" %></li>
            <li><%= link_to t('footer.how_it_works'), about_path, class: "p-text-16" %></li>
            <li><%= link_to t('footer.pricing'), pricing_path, class: "p-text-16" %></li>
          </ul>
        </nav>
      </div>
      <div id="footer_socials">
        <p class="text-title-color text-xl font-montserrat font-bold leading-6 break-words mb-[23px] gradient-text"><%= t('footer.socials') %></p>
        <nav>
          <ul class="flex flex-row items-center gap-[11px]">
            <li>
              <%= link_to "https://instagram.com", target: "_blank", aria: { label: t('footer.instagram_aria_label') } do %>
                <%= image_tag "icons/InstagramLogo.png", alt: t('footer.instagram_icon_alt'), class: "instagram-icon" %>
              <% end %>
            </li>
            <li>
              <%= link_to "https://facebook.com", target: "_blank", aria: { label: t('footer.facebook_aria_label') } do %>
                <%= image_tag "icons/facebook1.png", alt: t('footer.facebook_icon_alt'), class: "facebook-icon"  %>
              <% end %>
            </li>
            <li>
              <%= link_to "https://twitter.com", target: "_blank", aria: { label: t('footer.twitter_aria_label') } do %>
                <%= image_tag "icons/twitter1.png", alt: t('footer.twitter_icon_alt'), class: "twitter-icon"  %>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  <section id="copyright" class="py-4 bg-shared-bg">
    <p class="text-white text-base font-red-hat-display font-normal leading-[25px] break-words text-center">
      <%= t('footer.copyright_text') %>
      <%= link_to t('footer.agency_name'), "https://digitality-agency.com", target: "_blank", class: "text-white" %>
    </p>
  </section>
</footer>
