<header class="py-4 bg-shared-bg">
  <div class="w-[1280px] mx-auto flex justify-between items-center">
    <%= link_to root_path do %>
      <%= image_tag 'gemotion-logo-header.svg', alt: 'Gemotion Logo' %>
    <% end %>

    <nav id="primary_menu" class="flex space-x-8">
      <ul class="flex space-x-8">
        <li>
          <%= link_to "Accueil", root_path, class: "text-white text-lg font-montserrat font-bold uppercase leading-7 break-words" %>
        </li>
        <li>
          <%= link_to "Comment ça marche", about_path, class: "text-white text-lg font-montserrat font-bold uppercase leading-7 break-words" %>
        </li>
        <li>
          <%= link_to "Tarification", price_path, class: "text-white text-lg font-montserrat font-bold uppercase leading-7 break-words" %>
        </li>
      </ul>
    </nav>

    <nav id="secondary_menu" class="flex space-x-8">
      <ul class="flex items-center gap-2">
        <li>
          <%= link_to "#" do %>
            <%= image_tag "icons/profile.svg" %>
          <% end %>
        </li>
        <li class="flex items-center h-full">
          <%= link_to "Démarrer", start_path, class: "text-black text-lg font-montserrat font-bold leading-7 break-words w-full h-full bg-white rounded-[15px] px-[28.32px] pt-[14.43px] pb-[16.78px] flex items-center justify-center" %>
        </li>
      </ul>
    </nav>
  </div>
</header>
