<section id="testimonials">
  <%# <h2>TESTIMONIALS</h2> %>
  <div class="w-80 mx-auto flex gap-[80px]">
      <div class="relative inline-block w-[405px]">
        <%= image_tag 'gemotion-testimonials.png', class: "w-[405px] relative mw-none" %>

        <%= image_tag 'icons/3dicons.png', class: "absolute bottom-0 left-0 w-[100px] bottom-left-image" %>

        <%= image_tag 'icons/LetterContainer.png', class: "absolute top-0 right-0 w-[100px] top-right-image" %>
      </div>
      <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
                <p class="testimonial-content p-text-16">
                  E Motions-video nous a fait un film pour notre départ de Dubaï;
                  un film chargé en émotions, une véritable page de vie de notre famille!
                  On y voit un concentré des meilleurs moments de ces 6 années,
                  et surtout une très belle surprise de nos amis à la fin du film,
                  orchestrée par E Motions-video avec beaucoup d'humour.
                  Un grand moment de pure émotion diffusé pendant notre soirée de départ et à regarder sans modération une fois rentrés en France.
                </p>
                <%= image_tag 'Rectangle29.png', class: "absolute bottom-0 left-0 testimonial-user" %>
                <div class="flex flex-col testimonial-name">
                  <span class="">Valérie A.</span>
                  <span class="p-text-16">Social Position</span>
                </div>
            </div>
            <div class="swiper-slide">
                <p class="testimonial-content p-text-16">
                  L'un des plus beaux cadeaux jamais reçu!
                  Quelle émotion de voir se mettre en mouvement ces photos qui me rappellent tellement de beaux souvenirs,
                  proches ou lointain, avec les gens que j'aime! En dernière partie de ce film
                  (reçu il y a quelques années mais que je continue de visionner régulièrement avec ma famille!),
                  tous les proches mis à contribution pour m'envoyer un message personnalisé… les distances sont effacées,
                  je me sens tellement entourée!
                  Merci à E Motions-video qui a été capable avec une magnifique justesse de faire ressortir de si belles émotions.
                </p>
                <%= image_tag 'Rectangle30.png', class: "absolute bottom-0 left-0 testimonial-user" %>
                <div class="flex flex-col testimonial-name">
                  <span class="">Florent D.</span>
                  <span class="p-text-16">Social Position</span>
                </div>
            </div>
            <div class="swiper-slide">
                <p class="testimonial-content p-text-16">
                  Souvent difficile d'avoir des idées de cadeaux…
                  ce film a été comme une évidence!
                  E Motions-video a tout de suite su cerner notre amie et faire un film à son image!
                  Emotion garantie, pour la personne qui reçoit son cadeau mais aussi pour l'assemblée! la musique,
                  le fil conducteur, le mix entre photos et vidéos,, bref cadeau parfait!
                </p>
                <%= image_tag 'Rectangle28.png', class: "absolute bottom-0 left-0 testimonial-user" %>
                <div class="flex flex-col testimonial-name">
                  <span class="">Violaine R.</span>
                  <span class="p-text-16">Social Position</span>
                </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
      </div>
      <%= image_tag 'icons/Rectangle.png', class: "emoji-icon" %>
  </div>
</section>
