<div class="flex flex-col items-center mb-45">
  <%= render "shared/hello_block"%>
  <%= render "shared/profile_tabs", page_count: 1 %>
</div>

<div class='spaces-on-sides'>

  <%= render "shared/creator_participant_block", creator: false %>

  <div class='mt-4'>
    <div class="project-invitation">
      <div class="flex flex-row items-start mb-2">
        <span>Ici s'affichent les films auxquels on vous a demandé de participer. Appuyez sur</span>
        <%= image_tag "icons/akar-icons_edit.svg", alt: "Edit Icon", style: "vertical-align: middle; margin-left: 5px; margin-right: 5px;" %>
        <span>pour :</span>
      </div>

      <ul>
        <li>Ajouter du contenu vidéo ou photo pour illustrer chaque chapitre.</li>
        <li>Contribuer à la dédicace finale. S'il s'agit de musique, vous pouvez sélectionner la partie qui leur est accessible.</li>
        <li>Inviter un ami à collaborer sur le projet (l'administrateur doit approuver le nouveau participant).</li>
      </ul>
    </div>
  </div>
  <div class="w-80 mt-65">
    <h2 class="text-left">Les informations sur le projet en cours</h2>
  </div>
  <div class="flex flex-row items-start mt-4">
    <span class="font-bold mr-4">Nom du destinataire (pour qui nous préparons le film) :</span>
    <span><%=@destinataire.name%></span>
  </div>
  <div class="flex flex-row items-start mt-4">
    <span class="font-bold mr-4">Occasion :</span>
    <span><%= @video.occasion.humanize %></span>
  </div>
  <div class="flex flex-row items-start mt-4">
    <span class="font-bold mr-4">Date de livraison du film :</span>
    <span><%=@video&.end_date&.strftime("%d/%m/%Y") %></span>
  </div>

  <hr class='hr-divider-gray mt-65 '/>

  <div class="flex justify-start items-center mt-6">
    <div class="font-bold">Ajouter mon contenu dans les chapitres</div>
    <a href="<%= collaborator_manage_chapters_path(@video.id) %>" class="cta-transparent ml-50">Gérer les chapitres</a>
  </div>

  <hr class='hr-divider-gray mt-65 '/>

  <div class="flex justify-start items-center mt-6">
    <div class="font-bold ">Participation à la Dédicace de fin</div>
    <%= link_to "Gérer Dédicace de fin", collaborator_manage_dedicace_path(@video.id), data: { turbo: false }, class: "cta-transparent ml-50" %>
  </div>

  <div class="projects-grid mt-8">
    <div class="project-main-block flex flex-col justify-between">
      <div class="project-block">
        <% if @collaborator_dedicace.creator_end_dedication_video.attached? %>
          <%= video_tag @collaborator_dedicace.creator_end_dedication_video, controls: true, autobuffer: true, class: 'collaborator-dedicace-thumb' %>
        <% end %>
      </div>
    </div>
  </div>

</div>
