<div class="flex flex-col items-center mb-45">

  <%= render "shared/hello_block"%>

  <%= render "shared/profile_tabs", page_count: 1 %>
</div>

<%= form_with url: creator_chapters_post_path(video_id: @video.id), method: :post, html: {data: { turbo: false }} do |f| %>

  <div class='creator-frame'>

    <%= render "shared/creator_participant_block", creator: true %>
    <div class="w-80 mt-45">
      <h4 class="text-black font-montserrat font-size-32i font-bold leading-[24px] mb-[24px]">Le projet</h4>
    </div>
    <div class="flex flex-col items-start">
      <span class="p-text-16-bold mr-4">Description</span>
      <span class="p-text-16 mt-4 mb-4">Lorem ipsum dolor sit amet consectetur. Ipsum ultrices vitae nibh egestas tortor porta aenean eget sagittis. Quis amet fringilla blandit faucibus lobortis vestibulum elit cras quis. Pharetra hendrerit convallis imperdiet ac porta. </span>
    </div>
    <div class="flex flex-row items-start">
      <span class="p-text-16-bold mr-4">Nom du destinataire (pour qui nous préparons le film) :</span>
      <span class="p-text-16"><%= @destinataires&.map(&:name).join(" | ") %></span>
    </div>
    <div class="flex flex-row items-start mt-4">
      <span class="p-text-16-bold mr-4">Occasion :</span>
      <span class="p-text-16"><%= @video.occasion&.humanize %></span>
    </div>
    <div class="flex flex-row items-start mt-4">
      <span class="p-text-16-bold mr-4">Age :</span>
      <span class="p-text-16"><%= @destinataires&.map(&:age).join(" | ") %></span>
    </div>
    <div class="flex flex-row items-start mt-4">
      <span class="p-text-16-bold mr-4">Date de livraison du film :</span>
      <span class="p-text-16"><%=@video&.end_date&.strftime("%d/%m/%Y") %></span>
    </div>
    <div class="flex flex-row items-start mt-4">
      <span class="p-text-16-bold mr-4">Thème du film :</span>
      <span class="p-text-16"><%=@video&.dedicace&.name%></span>
    </div>

    <h4 class="text-black font-montserrat font-size-32i font-bold leading-[24px] mb-[24px] mt-35">Choisissez des chapitres</h4>
    <div class="">
      <div class="ml-45">
        <div class="video-chapters">
          <% @chapterstype.each do |res| %>
            <% checkbox_test_id = "chapter_checkbox_#{res[:ct].id}" %>
            <% input_test_id = "chapter_input_#{res[:ct].id}" %>
            <% slide_color_test_id = "chapter_slide_color_#{res[:ct].id}" %>
            <div class="video-chapter">
              <div class="video-chapter-wrapper">
                <%= f.check_box "chapters[#{res[:ct].id}][select]", {checked: res[:select], 'data-testid': checkbox_test_id }, true, false %>
                <div class="video-chapter-thumb-wrapper">
                  <div class='relative'>
                    <div data-controller="dialog" data-action="click->dialog#clickOutside">
                      <%= image_tag "icons/akar-icons_edit_white.svg", alt: "Edit Icon", class: "edit-video-icon", data: { action: "click->dialog#open" } %>
                      <dialog data-dialog-target="modal" class="backdrop:bg-slate-400 backdrop:opacity-80 w-full lg:w-2/3 popup-chap-modal">
                        <h3 class="video-h3 mt-6 mb-[32px] tt-uppercase">Personnalisez votre film! </h3>
                        <div class="w-full flex-im flex-row justify-center items-start">
                          <div class="chapter-popup-block">
                            <div class="video-chapter-thumb-wrapper">
                              <div class="video-chapter-thumb-wrapper-simpletext">
                                <% if res[:ct].image.attached? %>
                                  <%= image_tag res[:ct].image, class: "video-chapter-thumb" %>
                                <% else %>
                                  <p>Pas d'image</p>
                                <% end %>
                                <div class="flex flex-row justify-start items-center video-chapter-thumb-wrapper-text">
                                  <%= res[:ct].name %>
                                  <%= image_tag "icons/carbon_edit.png", class: "ml-15"%>
                                </div>
                              </div>
                              <p class="mt-2 mb-2 p-text-16">“Description des chapitres lorem ipsum dolor sit amet consectetur. Dictum eu morbi ac elit enim at neque urna. Eleifend condimentum ipsum a lectus tortor est arcu”</p>
                              <div class="font-bold">Choisissez la couleur du diapositive</div>
                              <div class="color-picker flex-im flex-row justify-start items-center mt-4">
                                <% colors = { white: 'white', red: 'red', orange: 'orange', yellow: 'yellow', green: 'green', lightblue: 'lightblue', dodgerblue: 'dodgerblue', violet: 'violet' } %>
                                <% default_color = colors.keys.first.to_s %> <!-- Set the default color to the first in the list -->
                                <% colors.each do |color_name, color_value| %>
                                  <%= f.radio_button "chapters[#{res[:ct].id}][slide_color]", color_value,
                                                    id: "#{color_value}_#{res[:ct].id}",
                                                    checked: (res[:slide_color] == color_value || (res[:slide_color].nil? && color_value == default_color)) %>
                                  <%= f.label "#{color_value}_#{res[:ct].id}", "&nbsp;".html_safe, class: "color-circle #{color_value}" %>
                                <% end %>
                              </div>
                              <div class="font-bold mt-4">Text</div>
                              <div class="text-options">
                                <div class="form-group">
                                  <%= f.select "chapters[#{res[:ct].id}][text_family]", options_for_select(['Poppins','Arial', 'Helvetica', 'Times New Roman', 'Verdana', 'Courier New'], res[:text_family]), {}, class: 'custom-select w-full mt-2' %>
                                </div>

                                <div class="form-group">
                                  <%= f.select "chapters[#{res[:ct].id}][text_style]", options_for_select(['Normal', 'Bold', 'Italic', 'Bold Italic'], res[:text_style]), {}, class: 'custom-select w-full mt-2' %>
                                </div>

                                <div class="form-group">
                                  <%= f.select "chapters[#{res[:ct].id}][text_size]", options_for_select([12, 14, 16, 18, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56], res[:text_size]), {}, class: 'custom-select w-full mt-2' %>
                                </div>
                              </div>

                              <div class="prev-your-text flex-im justify-start items-center">Aperçu de votre texte</div>
                              <%= button_tag type: 'button', formmethod: 'dialog', class: 'black-link w-100i', data: { action: 'click->dialog#close' } do %>
                                Appliquer les modifications
                                <%= image_tag 'icons/mdi_magic.png', alt: 'Download Icon', class: 'inline-block', style: 'height: 16px; width: 16px; margin-left: 10px; margin-bottom:3px;' %>
                              <% end %>
                            </div>
                          </div>
                        </div>

                      </dialog>
                    </div>
                    <% if res[:ct].image.attached? %>
                      <%= image_tag res[:ct].image, class: "video-chapter-thumb" %>
                    <% else %>
                      <p>Pas d'image</p>
                    <% end %>
                    <span><%= res[:ct].name %></span>

                  </div>
                  <div class="video-chapter-input-wrapper mt-4">
                    <%= f.text_field "chapters[#{res[:ct].id}][text]", value: res[:text], placeholder: "Quel texte doit contenir ce chapitre ...", class: 'video-chapter-input', data: {testid: input_test_id} %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  <div class="w-full flex justify-center mt-8">
    <%= f.submit "Sauvegarder les modification", class:"black-link" %>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".text-options").forEach((textOptionsBlock) => {
      const prevYourTextBlock = textOptionsBlock.nextElementSibling; // Find the `prev-your-text` block next to `text-options`

      const fontFamilySelect = textOptionsBlock.querySelector("select[name*='[text_family]']");
      const fontStyleSelect = textOptionsBlock.querySelector("select[name*='[text_style]']");
      const fontSizeSelect = textOptionsBlock.querySelector("select[name*='[text_size]']");

      const updatePreviewText = () => {
        const fontFamily = fontFamilySelect.value;
        const fontStyle = fontStyleSelect.value;
        const fontSize = fontSizeSelect.value;

        // Set styles dynamically
        prevYourTextBlock.style.fontFamily = fontFamily;
        prevYourTextBlock.style.fontSize = `${fontSize}px`;

        // Map text styles to CSS values
        if (fontStyle === "Bold") {
          prevYourTextBlock.style.fontWeight = "bold";
          prevYourTextBlock.style.fontStyle = "normal";
        } else if (fontStyle === "Italic") {
          prevYourTextBlock.style.fontWeight = "normal";
          prevYourTextBlock.style.fontStyle = "italic";
        } else if (fontStyle === "Bold Italic") {
          prevYourTextBlock.style.fontWeight = "bold";
          prevYourTextBlock.style.fontStyle = "italic";
        } else {
          prevYourTextBlock.style.fontWeight = "normal";
          prevYourTextBlock.style.fontStyle = "normal";
        }
      };

      // Add event listeners to update preview on change
      fontFamilySelect.addEventListener("change", updatePreviewText);
      fontStyleSelect.addEventListener("change", updatePreviewText);
      fontSizeSelect.addEventListener("change", updatePreviewText);

      // Initialize preview with default values
      updatePreviewText();
    });
  });
</script>
<style>
.video-chapters {
  max-height: 1461px;
  overflow-y: auto;
  padding-right: 40px;
  padding-left: 5px;
  padding-top: 5px;
  scrollbar-width: thin;
}

.video-chapter-input-wrapper {
  position: relative;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(181.68deg, #C9E1FF 19.49%, #0D6783 60.63%, #163F50 90.92%);
  padding: 1.1px; /* Space for the gradient border */
}

.video-chapter-input {
  width: 100%;
  padding: 15px 27px;
  border: none;
  border-radius: 6px; /* Inner radius slightly smaller than wrapper */
  background: #fff;
  color: rgba(32, 31, 31, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 156.25% */
}

.video-chapter-input::placeholder {
  color: rgba(32, 31, 31, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.video-chapters::-webkit-scrollbar {
  width: 3px;
  margin-right: -36px;
}

.video-chapters::-webkit-scrollbar-thumb {
  background-color: rgba(32, 31, 31, 1);
  border-radius: 3px;
}

.video-chapters::-webkit-scrollbar-thumb:hover {
  background-color: rgba(32, 31, 31, 0.3);
}

.video-chapters {
  scrollbar-color: rgba(32, 31, 31, 1) rgba(32, 31, 31, 0.3);
}
</style>