<% content_for :styles do %>
  <%= stylesheet_link_tag 'home', media: 'all', rel: 'stylesheet' %>
<% end %>
<%= render "shared/seo/seocompletion", title: t('seo.home'), description: "" %>
<!--
<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
  </div>
  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <div class="swiper-scrollbar"></div>
</div>
-->
<div class="home">
  <div class="hero-block">
    <%= image_tag 'Hero2.png', class: ' w-full h-auto object-center' %>
    <%= link_to t('header.start'), start_path(continue: true), class: "black-link" %>
  </div>

<%# <section class="hero">
  <div class="relative max-w-[1060px] pt-[550px] pb-[18px] mx-auto text-center">
    <h1 class="text-[#201F1F] text-[70px] font-montserrat font-black uppercase leading-[81px] break-words mx-auto mb-[48px]">
      Grâce à E <span class="text-[#0D6783]">motions-video</span> offrez un cadeau unique et personnalisé
    </h1>

    <p class="absolute bottom-[-27px] right-0 hero-p max-w-[370px]">
      Transformez vos vidéos et photos en véritables chefs-d'œuvre en quelques clics seulement.
    </p>
  </div>
</section> %>

<section id="satisfied">
  <div class="relative max-w-[764px]">
    <h2 class="max-w-[740px] mb-[32px]"><%= t('home.satisfied.title') %></h2>
    <%= image_tag 'gemotion-home-satisfied-img.png', class: 'absolute top-[-100px] right-[-100px] w-[220px] h-auto object-contain object-center' %>
    <p class="text-center p-text-18"><%= t('home.satisfied.description') %></p>
  </div>
</section>

<section id="how">
  <div class="max-w-[1062px]">
    <h2 class="text-left mb-[69px]"><%= t('home.how_it_works.title') %></h2>

    <div class="mx-auto flex items-center gap-[96px] mb-[48px]">
      <div class="flex-1">
        <ul class="flex flex-col gap-[32px]">
          <li class="how-li">
            <div><%= t('home.how_it_works.step1') %></div>
          </li>
          <li class="how-li">
            <div><%= t('home.how_it_works.step2') %></div>
          </li>
          <li class="how-li">
            <div><%= t('home.how_it_works.step3') %></div>
          </li>
          <li class="how-li">
            <div><%= t('home.how_it_works.step4') %></div>
          </li>
        </ul>
      </div>
      <%= image_tag 'gemotion-home-how-img.png', class: 'w-[583px] h-auto object-contain object-center' %>
    </div>

  </div>

  <%= link_to t('buttons.read_more'), about_path, class: "read-more black-link" %>
</section>

<section id="dedication" style="background-image: url(<%= asset_path 'gemotion-dedication-bg.svg' %>)" >
  <h2 class="max-w-[740px] mb-[32px]"><%= t('home.dedication.title') %></h2>
  <p class="mb-[48px] p-text-18"><%= t('home.dedication.description') %></p>

  <div class="max-w-[1062px] mx-auto flex gap-[41px] items-center mb-[48px]">
    <div class="flex-1">
      <%= image_tag 'gemotion-home-dedication-img.png', alt: 'Image 1', class: 'w-full h-auto' %>
    </div>
    <ul class="min-w-[413px] max-w-[413px] pl-5">
      <li class="text-black font-montserrat text-[20px] font-bold leading-[24px] py-5 px-4">
        <div class="flex justify-between items-center">
          <div><%= t('home.dedication.themes.dance') %></div>
          <div><%= image_tag 'icons/IconContainer.png', class: 'icon-container' %></div>
        </div>
      </li>
      <li class="text-black font-montserrat text-[20px] font-bold leading-[24px] py-5 px-4">
        <div class="flex justify-between items-center">
          <div><%= t('home.dedication.themes.ball') %></div>
          <div><%= image_tag 'icons/IconContainer.png', class: 'icon-container' %></div>
        </div>
      </li>
      <li class="text-black font-montserrat text-[20px] font-bold leading-[24px] py-5 px-4">
        <div class="flex justify-between items-center">
          <div><%= t('home.dedication.themes.brooms') %></div>
          <div><%= image_tag 'icons/IconContainer.png', class: 'icon-container' %></div>
        </div>
      </li>
      <li class="text-black font-montserrat text-[20px] font-bold leading-[24px] py-5 px-4">
        <div class="flex justify-between items-center">
          <div><%= t('home.dedication.themes.carpool') %></div>
          <div><%= image_tag 'icons/IconContainer.png', class: 'icon-container' %></div>
        </div>
      </li>
      <li class="text-black font-montserrat text-[20px] font-bold leading-[24px] py-5 px-4">
        <div class="flex justify-between items-center">
          <div><%= t('home.dedication.themes.balloon') %></div>
          <div><%= image_tag 'icons/IconContainer.png', class: 'icon-container' %></div>
        </div>
      </li>
      <li class="text-black font-montserrat text-[20px] font-bold leading-[24px] py-5 px-4">
        <div class="flex justify-between items-center">
          <div><%= t('home.dedication.themes.written_messages') %></div>
          <div><%= image_tag 'icons/IconContainer.png', class: 'icon-container' %></div>
        </div>
      </li>
      <li class="text-black font-montserrat text-[20px] font-bold leading-[24px] py-5 px-4">
        <div class="flex justify-between items-center">
          <div><%= t('home.dedication.themes.voice_messages') %></div>
          <div><%= image_tag 'icons/IconContainer.png', class: 'icon-container' %></div>
        </div>
      </li>
      <li class="text-black font-montserrat text-[20px] font-bold leading-[24px] py-5 px-4">
        <div class="flex justify-between items-center">
          <div><%= t('home.dedication.themes.shots') %></div>
          <div><%= image_tag 'icons/IconContainer.png', class: 'icon-container' %></div>
        </div>
      </li>
    </ul>
  </div>

  <a class="black-link show-more-features"><%= t('buttons.show_more') %></a>
</section>
<div class="w-full flex justify-center items-center mt-8">
  <h2><%= t('home.pricing.title') %></h2>
</div>
<%= render "shared/pricing" %>

<%= render "shared/testimonials" %>

<%= render "shared/faq" %>

<%= render "shared/questions" %>

</div>
