<% content_for :styles do %>
  <%= stylesheet_link_tag 'devise_styles', media: 'all', rel: 'stylesheet' %>
<% end %>
<div class="w-full h-full devise-bg-main-block">
  <div class="w-full h-full devise-bg pt-[72px]">
    <div class='mb-45'>
      <div class="devise-header font-montserrat">
        <span class="gradient-text"><%= t('devise.sessions.sign_in_first') %></span><span><%= t('devise.sessions.sign_in_second') %></span>
      </div>
      <p class="mt-4 text-center p-text-18">
        <%= t('devise.sessions.subtitle') %>
      </p>
    </div>
    <div class="w-full flex items-center justify-center mt-65">
      <div class="w-60 sign-in-block">
            <%= form_with scope: :user, url: new_user_session_path, local: true, class: "space-y-6 flex flex-col items-center justify-center w-full" do |f| %>
              <div class="flex flex-col items-center justify-between w-full mt-0">
                <div class='mb-2 w-full'>
                  <%= f.email_field :email, autofocus: true, required: true, class: "flex w-full h-[53px] px-[27px] py-[15px] items-start gap-[10px] rounded-[8px] border border-[rgba(0,0,0,0.50)] bg-white text-gray-600 font-red-hat-display text-[14px] font-normal leading-[25px] background-color-transparent placeholder-color-grey", placeholder: t('devise.sessions.email') %>
                </div>
                <div class="mt-2 w-full">
                  <%= f.password_field :password, required: true, class: "flex w-full h-[53px] px-[27px] py-[15px] items-start gap-[10px] rounded-[8px] border border-[rgba(0,0,0,0.50)] bg-white text-gray-600 font-red-hat-display text-[14px] font-normal leading-[25px] background-color-transparent placeholder-color-grey", placeholder: t('devise.sessions.password') %>
                </div>
              </div>
              <div class="flex items-center justify-between">
                <div class="text-sm">
                  <a href="<%= new_password_path(resource_name) %>" class="font-bold text-black medium-text">
                    <%= t('devise.sessions.forgot_password') %>
                  </a>
                </div>
              </div>

              <div class='w-full flex items-center justify-center mt-8'>
                <%= f.submit t('devise.sessions.sign_in_button'), class: "black-link mr-6" %>
                <a href="<%= new_user_registration_path %>" class="transparent-link">
                  <%= t('devise.sessions.create_account') %>
                </a>
              </div>
            <% end %>
      </div>
    </div>
  </div>
</div>