<div id="chapters-list" class="chapters-grid mt-8" data-controller="chapter-management" data-chapter-management-target="chaptersList">
  <% chapters.each do |chapter| %>
    <div class="project-main-block flex flex-col justify-between items-center chapter-item" data-id="<%= chapter.id %>">
      <div class="project-block">

        <div class="delete-chap-icon-btn" data-url="<%= delete_video_chapter_path(chapter.id) %>" data-confirm="Are you sure you want to delete this chapter?" data-action="click->chapter-management#deleteChapter">
          <%= image_tag "icons/delete-icon.png", alt: "Delete Icon", class: "delete-chap-icon" %>
        </div>
        <div class="project-block-bottom-white">
          <div class="text-left-important p-text-18"><%= chapter.chapter_type.name %></div>
          <div class="p-text-16"><%= chapter.text %></div>
        </div>
        <div data-controller="dialog" data-action="click->dialog#clickOutside">
          <%= image_tag "icons/tdesign_more_white.png", alt: "Edit Icon", class: "edit-video-icon", data: { action: "click->dialog#open" } %>
          <dialog data-dialog-target="modal" class="backdrop:bg-slate-400 backdrop:opacity-80 w-full lg:w-2/3 edit-chap-modal">
            <div class="w-full h-full flex flex-col justify-start items-center">
              <h3 class="video-h3 tt-uppercase mt-8">Modifier un chapitre</h3>
              <div class="video-memory-edit-video mb-8">
                <div class="video-memory-thumb-wrapper">
                  <% if chapter.chapter_type.image.attached? %>
                    <%= image_tag chapter.chapter_type.image, class: "h-[150px] w-[200px] object-cover rounded" %>
                  <% else %>
                    <p>Pas d'image</p>
                  <% end %>
                </div>
                <div class="w-full video-popup-input-block">
                  <%= f.text_field "chapters[#{chapter.id}][text]", value: chapter.text, placeholder: "Quel texte doit contenir ce chapitre ...", class: "w-full br-10" %>
                </div>
                <div id="edit-video-gallery-<%= chapter.id %>" class="edit-video-gallery flex flex-row items-center space-x-8">
                  <% chapter.ordered_videos.each do |video| %>
                    <div class="edit-video-container old-video-container" data-file-name="<%= video.filename.to_s %>">
                      <%= video_tag video, controls: true, autobuffer: true %>
                      <div class="purge-attachment-icon-btn" data-url="<%= purge_chapter_attachment_path(video.id) %>" data-action="click->chapter-management#deleteAttachment">
                        <%= image_tag "icons/delete-icon.png", alt: "Delete Icon", class: "purge-chap-icon" %>
                      </div>
                    </div>
                  <% end %>
                </div>
                <%= f.hidden_field "chapters[#{chapter.id}][videos_order]", id: "videos_order_#{chapter.id}" %>

                <div class="upload-attachment-block flex flex-col justify-center items-center">
                  <span class="text-center">Faites glisser ou appuyez pour ajouter vos vidéos</span>
                  <div class="add-more-circle mt-6" data-chapter-management-target="customUploadButtonVideos" data-action="click->chapter-management#triggerVideoUpload" data-id="<%= chapter.id %>">
                    <span class="plus-sign">+</span>
                  </div>
                  <%= f.file_field "chapters[#{chapter.id}][videos]", multiple: true, accept: 'video/*', class: 'form-control', style: 'display: none;', "data-id": chapter.id, "data-action": "change->chapter-management#handleVideoChange" %>
                </div>
                <hr class="hr-divider-gray mt-4 mb-4"/>
                <div id="edit-photo-gallery-<%= chapter.id %>" class="edit-video-gallery flex flex-row items-center space-x-8">
                  <% chapter.ordered_photos.each do |photo| %>
                    <div class="edit-image-container old-image-container" data-file-name="<%= photo.filename.to_s %>">
                      <%= image_tag photo.variant(resize_to_fill: [200, 200]).processed, class: "prev-image" %>
                      <div class="purge-attachment-icon-btn" data-url="<%= purge_chapter_attachment_path(photo.id) %>" data-action="click->chapter-management#deleteAttachment">
                        <%= image_tag "icons/delete-icon.png", alt: "Delete Icon", class: "purge-chap-icon" %>
                      </div>
                    </div>
                  <% end %>
                </div>
                <%= f.hidden_field "chapters[#{chapter.id}][photos_order]", id: "images_order_#{chapter.id}" %>

                <div class="upload-attachment-block flex flex-col justify-center items-center">
                  <span class="text-center">Faites glisser ou appuyez pour ajouter vos photos</span>
                  <div class="add-more-circle mt-6" data-chapter-management-target="customUploadButtonPhotos" data-action="click->chapter-management#triggerPhotoUpload" data-id="<%= chapter.id %>">
                    <span class="plus-sign">+</span>
                  </div>
                  <%= f.file_field "chapters[#{chapter.id}][photos]", multiple: true, accept: 'image/*', class: 'form-control', style: 'display: none;', "data-id": chapter.id, "data-action": "change->chapter-management#handlePhotoChange" %>
                </div>
                <hr class="hr-divider-gray mt-4 mb-4"/>
                <% if video.by_chapters? %>
                  <div class="music-selection w-full">
                    <%if chapter.custom_music.attached? && chapter.waveform.present?%>
                      <div class="relative audio-visualizer custom-audio-player" data-controller="audio-visualizer" data-audio-src="<%= url_for(chapter.custom_music) %>" data-waveform="<%= chapter.waveform.to_json %>">
                        <div class="play-icon play-button" data-audio-visualizer-target="playPauseButton">
                          <div class="play-button-icon"></div>
                        </div>
                        <canvas class="waveform-canvas" data-audio-visualizer-target="waveformCanvas"></canvas>
                      </div>
                    <%end%>
                    <div class="w-100i text-center h-170i upload-music-block flex flex-col justify-center items-center">
                      <label for="custom_music_<%= chapter.id %>" class="cursor-pointer flex flex-col justify-center items-center w-full">
                        <span>Ajoutez votre piste de musique (lien youtube, mp3)</span>
                        <div class="add-more-circle mt-6">
                          <span class="plus-sign">+</span>
                        </div>
                      </label>
                      <input type="file"
                            id="custom_music_<%= chapter.id %>"
                            name="custom_music_<%= chapter.id %>"
                            class="hidden custom-music-file-input"
                            accept="audio/*">
                    </div>



                    <div class="w-full flex justify-center items-center p-text-center-bold-16">ou</div>
                    <div class="w-full">
                      <%if collab%>
                        <% selected_music_id = chapter.collaborator_music&.music_id %>
                      <%else%>
                        <% selected_music_id = chapter.video_music&.music_id %>
                      <%end%>
                      <div class="custom-music-dropdown flex justify-between items-center" data-selected-music="<%= selected_music_id %>">
                        <div class="dropdown-toggle w-100i">
                          <% if selected_music_id.present? %>
                            <%if collab%>
                              <span><%= chapter.collaborator_music&.music&.name %></span>
                            <%else%>
                              <span><%= chapter.video_music&.music&.name %></span>
                            <%end%>
                          <% else %>
                            <span>Choisissez la musique dans la liste ci-dessous</span>
                          <% end %>
                          <div class="dropdown-arrow">&#9662;</div>
                        </div>
                        <div class="dropdown-menu visible mt-2">
                          <% musics.each do |music| %>
                            <label class="dropdown-option flex justify-center items-center" data-music-id="<%= music[:id] %>">
                              <div class="flex flex-col">
                                <span class="p-text-16"><%= music[:name] %></span>
                                <div class="flex flex-row justify-start items-center">
                                  <input type="radio" class="mr-6" name="music_<%= chapter.id %>" value="<%= music[:id] %>" <%= selected_music_id == music[:id] ? 'checked' : '' %> />
                                  <div class="flex flex-col w-full">
                                    <div class="audio-visualizer custom-audio-player" data-controller="audio-visualizer" data-audio-src="<%= music[:url] %>" data-waveform="<%= music[:waveform] %>">
                                      <div class="play-icon play-button" data-audio-visualizer-target="playPauseButton">
                                        <div class="play-button-icon"></div>
                                      </div>
                                      <canvas class="waveform-canvas" data-audio-visualizer-target="waveformCanvas"></canvas>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </label>
                          <% end %>
                        </div>
                      </div>
                      <%= f.hidden_field "music_#{chapter.id}", value: selected_music_id, class: "selected-music-id" %>
                    </div>
                  </div>
                <% end %>

              </div>
              <%= button_tag type: 'button', formmethod: 'dialog', class: 'black-link mb-15', data: { action: 'click->dialog#close' } do %>
                Sauvegarder les modification
              <% end %>
            </div>
          </dialog>
        </div>
        <% if chapter.chapter_type.image.attached? %>
          <%= image_tag chapter.chapter_type.image, class: "preview-prof-img" %>
        <% end %>
      </div>
    </div>
  <% end %>
  <input type="hidden" name="chapter_order" id="chapter_order" />
</div>
