<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/seo/seo" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render "shared/header" %>
    <div class='flex justify-end p-2'>
      <%= button_to 'Reset', flush_and_reseed_path, method: :post, data: { confirm: 'Es-tu sûr de vouloir réinitialiser la base de données ?' }, class: 'p-2 rounded bg-red-500 text-white' %>
    </div>
    <% unless notice.nil? %>
      <p class="notice w-full text-success text-center p-3 bg-green-50 "><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
      <p class="alert w-full text-red-500 text-center p-3 bg-red-50"><%= alert %></p>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
