<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/seo/seo" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "shared/header" %>

    <% unless notice.nil? %>
      <p class="notice w-full text-success text-center p-3 bg-green-50 "><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
      <p class="alert w-full text-red-500 text-center p-3 bg-red-50"><%= alert %></p>
    <% end %>
    <main>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>

    <!-- Add Sortable.js via CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
  </body>
</html>